* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #111;
}

#nav {
  background-color: #111;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  color: #ffe159;
  height: 10vh;
  padding: 15px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

#nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 0.7em;
  width: 120px;
}

#nav a img {
  width: 30px;
  float: left;
  padding-right: 7px;
}

#nav a:hover span {
  opacity: 0.5;
}

#nav nav {
  padding-top: 15px;
}

.logo {
  font-size: 1.3em;
  padding: 0 15px;
  color: #ffe159;
}

.logo .logo-zh {
  font-size: 0.6em;
  letter-spacing: 7px;
}

.title {
  color: white;
  display: inline-block;
  font-size: 0.7em;
  width: 120px;
}

.title img {
  width: 30px;
  float: left;
  padding-right: 7px;
}

#banner {
  height: 90vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1504502350688-00f5d59bbdeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px) brightness(30%);
          filter: blur(2px) brightness(30%);
  position: absolute;
  top: 0;
  z-index: -1;
}

.bg-about {
  background-image: url(img/about.jpg);
}

.bg-location {
  background-image: url(img/about.jpg);
}

#about {
  height: 90vh;
  position: relative;
  color: white;
}

#about .about-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-box img {
  width: 60px;
  padding: 20px 0;
}

#about .about-box h2 {
  font-weight: 400;
  font-size: 1.6em;
  padding: 20px 0;
}

#about .about-box p {
  font-weight: 100;
  font-size: 0.8em;
  line-height: 2;
}

#location {
  min-height: 90vh;
  position: relative;
}

#location #location-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#location #location-container .location-title {
  text-align: right;
}

#location #location-container .location-title .location-text {
  color: white;
  font-size: 0.7em;
  text-align: center;
  display: inline-block;
}

#location .location-img-box {
  overflow: hidden;
}

#location .location-img-box img {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

#location .location-img-box:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

#classcial {
  height: 90vh;
  position: relative;
}

#classcial .classcial-box {
  text-align: center;
}

.franchisee-box {
  text-align: center;
  padding: 100px 0;
}

.franchisee-box a {
  text-decoration: none;
  color: #ffe159;
}

.franchisee-box a .logo {
  font-size: 2.5em;
}

.franchisee-box a .logo .logo-zh {
  font-size: 0.65em;
}

.franchisee-box a h3 {
  font-size: 2.1em;
  padding: 10px 0;
  letter-spacing: 4px;
}

footer {
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 0.6em;
  padding: 20px 0;
  background-color: #000;
}
/*# sourceMappingURL=style.css.map */